@tailwind base;
@tailwind components;
@tailwind utilities;

.GameStyle1 {
    overflow-x: auto; /* Enable horizontal overflow */
  }

.app-box {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.first-box{
    min-width: 500px; 
}

.com-title {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.com-title:after {
  position: absolute;
  bottom: -15px;
  left: 0;
  content: "";
  width: 48px;
  height: 4px;
  background: #ffe500;
}
.first-item {
  min-width: 280px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 0 15px rgba(101, 111, 199, 0.2);
  border-radius: 25px;
  overflow: hidden;
  margin-right: 26px;
  cursor: pointer;
  transition: all 0.3s;
}
.first-box .first-list .first-item .first-item-icon{
    width: 280px;
    height: 152px;
}
.first-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px rgba(101, 111, 199, 0.4);
}
.el-image__error,
.el-image__inner,
.el-image__placeholder {
    width: 100%;
    object-fit: cover;
    height: 175px;

}
.first-item-name {
  margin: 6px 0;
  padding: 0 12px;
  width: 100%;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.first-item-other {
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first-item-typeName{
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 20px;
}

/* Define regular star style */
.fas.fa-star {
  color: orange; /* You can change the color to your preference */
}

/* Define gray star style */
.fas.fa-star.gray {
  color: gray; /* You can change the color to your preference */
}
